body{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
     
}

#container{
    height: 500px;
    width: 300px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 4px solid black;
    border-radius: 10px;
    gap: 10px;
    justify-content: center;
    align-items:stretch;

}

#display{
    font-size:48px;
    padding-right: 10px;
    font-family: monospace;
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgb(246, 246, 246);
    flex:1 1 20%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    overflow:hidden;
}

 

#btn-container{
    flex:1 1 80%;  
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    user-select: none;

}

#btn-container .btn-item{
    flex: 1 1 20%;
    border: 2px solid black;
    border-radius: 10px;
    font-size: larger;
    background-color: azure;
}

#btn-container .function{
    background-color: rgb(203, 203, 255);
}
#btn-container .operator{
    background-color: rgb(255, 217, 148);
}

#btn-container #zero{
    flex: 1 1 71%;
}